<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<header>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

body {
    background: #f5f5f5;
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}

.login-box {
    background: url(https://i.imgur.com/73BxBuI.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 50px auto;
    min-height: 700px;
    -webkit-box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-family: "Script MT";
    font-size: 54px;
    text-align: center;
    color: #888888;
    margin-bottom: 50px;
}

.logo .logo-font {
    color: #3BC3FF;
}

@media only screen and (max-width: 767px) {
    .logo {
        font-size: 34px;
    }
}

.header-title {
    text-align: center;
    margin-bottom: 50px;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form .form-control {
    border-radius: 0;
    margin-bottom: 30px;
}

.login-form .form-group {
    position: relative;
}

.login-form .form-group .forgot-password {
    position: absolute;
    top: 6px;
    right: 15px;
}

.login-form .btn {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.login-form .btn.btn-primary {
    background: #3BC3FF;
    border-color: #31c0ff;
}
  </style>
<!-- Background image -->
<section class="body">
  <div class="container">
      <div class="login-box">
          <div class="row">
              <div class="col-sm-6">
                  <div class="logo">
                      <span class="logo-font">Secured</span>Blog
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <br>
                  <h3 class="header-title">LOGIN</h3>
                  <form class="login-form">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Email or UserName">
                      </div>
                      <div class="form-group">
                          <input type="Password" class="form-control" placeholder="Password">
                          <a href="#!" class="forgot-password">Forgot Password?</a>
                      </div>
                      <div class="form-group">
                          <button class="btn btn-primary btn-block">LOGIN</button>
                      </div>
                      <div class="form-group">
                          <div class="text-center">New Member? <a href="#!">Sign up Now</a></div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

<%- include("./partials/footer") %>