<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://i.ibb.co/jTQqHmP/Icon6.png" height="30" alt="CoolBrand"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>

        
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Type to search blogs">
          <button class="btn btn-primary me-2" type="button">Search</button>
          <button class="btn btn-primary" type="button">Login</button>
        </form>
      </div>
    </div>
  </nav>